@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(245, 245, 245);
}

nav {
    width: 1600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 160px 24px 160px;
}

.head .title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 15px, 30px, 15px, 30px;
    align-items: center;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    width: 116px;
    height: 52px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

}

.btn:hover {
     background: rgb(198, 228, 214);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.banner {
    width: 1400px;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 80px 100px 80px 100px;
    margin: 0px 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

#banner_content {

    width: 622px;
    height: 326px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;
    margin: 0;
}

#banner_text {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    display: flex;
    font-weight: 500;
    line-height: 29px;
    gap: 16px;
    text-align: left;
}

#banner_detail {
    color: rgb(14, 14, 14);
    width: 622px;
    height: 201px;
    font-family: Fira Sans;
    font-size: 56px;
    display: flex;
    gap: 16px;
    padding: 0px;
    font-weight: 700;
    line-height: 67px;
    flex: none;
    text-align: left;
}

#banner_button {
    width: 270px;
    height: 56px;
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 24px;
    background-color: rgb(0, 106, 80);
    border-style: none;
    cursor: pointer;
}

#banner_button:hover {
 background-color: #45a049; 
 transform: scale(1.1); 
 box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
 color: #fff; 
}

.content {
    width: 1600px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    flex: none;
    margin: 150px 160px;
}

#vision {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    gap: 32px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    align-self: stretch;
    margin: 32px 0px;
}

.card {
    width: 410.67px;
    height: 325px;
    padding: 24px;
    display: flex;
    width: 410.67px;
    height: 325px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

#card1 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

#card2 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

#card3 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

.learn {
    padding: 11px 20px 11px 20px;
    align-items: center;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 122px;
    height: 41px;
    gap: 48px;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

#learn1 {
    border-radius: 8px;
    background: rgb(84, 144, 245);
}

#learn2 {
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

#learn3 {
    border-radius: 8px;
    background: rgb(255, 194, 57);
}

.learn:hover {
    background-color: #b37032 !important;
    color: black;
}

.yunus {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 48px 24px 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    background: rgb(255, 255, 255);
}

.cheif {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    padding: 0px;
    width: 1232px;
}

#quote {
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.recent_news {
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;
    flex: none;
    margin: 0px 160px;
}

#recent_news {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    gap: 32px;
}

.news_cards {
    display: block;
    padding: 0px;
    gap: 24px;
    margin: 32px 0px;
    width: 1600px;
}

.news_card {
    display: flex;
    border-radius: 24px;
    padding: 48px;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    align-self: stretch;
    margin: 32px 0px;
    background: rgb(255, 255, 255);
}

.readmore {
    width: 139px;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 13px 26px 13px 26px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(0, 106, 80);
    border-style: none;
    cursor: pointer;

}

.readmore:hover {
    background-color: #8bc17e;
    font-weight: 500;
}

.satelite {
    border-radius: 24px;
    flex: none;
    width: 408px;
    /* height: 306px; */
    margin: 0px 32px;
    object-fit: cover;
    overflow: hidden;
}

.news {
    width: 744px;
    /* height: 306px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32px;
    padding: 0px;
    margin: 0px 32px;
}

.donate {
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 0px;
    margin: 0px 160px;
}

.donate #title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.donate p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.donate_done {
    justify-content: center;
    align-items: center;
    padding: 13px 26px 13px 26px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(0, 106, 80);
    border-style: none;
    cursor: pointer;
}

.donate_done:hover {
    background-color: #8bc17e;
    font-weight: 500;
}

#taka {
    width: 1032px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    /* gap: 24px; */
    padding: 20px 40px 20px 40px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    gap: 12px;
    border: none;
}

.taka_cards {
    width: 1071px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    padding: 0px;
    flex: none;
    margin: 32px 0px;
}

.taka_card {
    display: flex;
    height: 128px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    gap: 12px;
    cursor: pointer;
}

.taka_card:hover {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

.newsletter {
    width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
    flex: none;
    padding: 80px 100px 80px 100px;
    margin: 80px 160px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.newsletter .title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.newsletter .details {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.email_box {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 0;
    list-style: none;
}

.email_box li {
    margin: 0px;
    display: inline-block;
    padding: 0;
}

.email_space {
    width: 600px;
    height: 55px;
    padding-left: 40px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.3);
    border: none;
    border-radius: 8px 0px 0px 8px;
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 19px;
    letter-spacing: 0%;
}

#subscribe {
    width: 150px;
    height: 55px;
    padding: 17px 34px 17px 34px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    cursor: pointer;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

#subscribe:hover {
    background-color: #8bc17e;
    font-weight: 500;
}


#promise {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

footer {
    background: rgb(255, 255, 255);
    width: 1600px;
    height: 226px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32;
    padding: 50px 160px 50px 160px;
    align-self: stretch;
}

footer ul {
    display: flex;
    list-style: none;
    width: 120.55px;
    gap: 23px;
    padding: 0px;

}

footer ul li {
    display: inline-flex;
    gap: 23px;
    padding: 0px;
    flex-direction: row;
    justify-content: space-between;
}

.footer-line {
    width: 1122px;
    height: 0;
    flex: none;
    border: 1px solid rgba(14, 14, 14, 0.1);
    gap: 32px;
    margin: 32px 0px;
}

footer .title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
